<div class= "show">
  <h2 class= "show-title">Title:</h2>
  <p class= "show-title"><%= @book.title %></p>
</div>

<div class= "show">
  <h2 class= "show-title">Body:</h2>
  <p class= "show-title"><%= @book.body %></p>
</div>

<div class= "show-title">
<%= link_to "Edit", edit_book_path(@book.id) %>
<%= "|" %>
<%= link_to "Back", "/books" %>
</div>